{
  "parser": "babel-eslint",
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "env": {
    "node": true,
    "browser": true,
    "es6": true
  },
  "plugins": ["react", "react-native"],
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "no-console": 1,
    "no-unused-vars": 1,
    "indent": ["error", 2],
    "no-mixed-spaces-and-tabs": ["error"]
  }
}
